.header {
	@extend .py-4;
	color: $gray-700;

	* {
		color: $app-text-gray;
	}

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		div {
			display: inline-block;
		}

		.log_holder {
			display: flex;
			justify-content: center;

			img {
				max-width: 100px;
			}
		}

		.search_holder {
			position: relative;
			flex-grow: 1;
			@extend .mx-4;

			.input_dropdown_holder {
				display: flex;

				svg {
					position: absolute;
					top: 12px;
					left: 12px;
				}

				input,
				select {
					border-radius: $border-radius;
					border: 1px solid $app-border-color;
					@extend .p-2;
				}

				input {
					padding-left: 35px !important;
					border-top-right-radius: 0px !important;
					border-bottom-right-radius: 0px !important;
					width: 100%;
				}

				select {
					border-top-left-radius: 0px !important;
					border-bottom-left-radius: 0px !important;
					min-height: 42px;
					min-width: 140px;
				}
			}
		}

		.auth_holder {
			display: flex;

			.user_account_guest {
				display: flex;
				justify-content: center;
				align-items: center;
				@extend .mr-3;

				p {
					font-size: 12px;
					@extend .mb-0;
					@extend .ml-2;
				}
			}

			.user_account_authenticated {
				display: flex;
				flex-direction: column;
				@extend .mr-3;

				p {
					font-size: 10px;
					@extend .mb-0;
				}
			}

			.cart_indicator {
				background-color: $gray-variant-on-white;
				border-radius: 100%;
				width: 44px;
				height: 44px;
				border: none;
				position: relative;

				span {
					position: absolute;
					top: -3px;
					right: -3px;
					font-size: 10px;
					background-color: $danger;
					color: $white;
					border-radius: 100%;
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
