// Bootstrap customization

$primary: #4a55c9;
$footer_bg_color: #363f50;
$light-blue: #ecf8ff;
$app_border_radius: 4px;

// Import bootstrap & Other Stuff

@import '~slick-carousel/slick/slick-theme.css';
@import '~slick-carousel/slick/slick.css';
@import '~bootstrap/scss/bootstrap.scss';

// Global

input,
select,
button {
	&:focus {
		outline: none;
	}
}

// Footer

.footer {
	@extend .w-100;
	background-color: $footer_bg_color;
	@extend .p-3;
	@extend .text-white;
	display: flex;
	justify-content: space-between;

	small {
		@extend .m-0;
	}

	button {
		@extend .btn;
		@extend .text-white;
		padding: 0 10px;

		&:hover {
			transform: scale(1.4);
			transition: 0.5s;
		}
	}
}

// TrendingIconList

.trending_icon_list {
	color: $gray-700;

	.view_more {
		@extend .mt-2;
		font-size: 14px;
	}

	.single_item {
		display: flex;
		width: 100%;
		@extend .py-2;
		border-bottom: 1px solid $gray-500;

		&:last-of-type {
			border-bottom: none;
		}

		img {
			max-width: 80px;
		}

		.text_content_holder {
			@extend .pt-3;
			@extend .pl-2;
			width: 100%;
			display: flex;
			flex-direction: column;

			p {
				@extend .mb-2;
			}

			small {
				@extend .text-primary;
			}
		}
	}
}

// LimitedOfferBanner

.limited_offer_banner {
	background: $light-blue;
	@extend .p-4;
	display: flex;
	justify-content: space-between;
	color: $gray-700;

	.text_area {
		@extend .pr-5;
		display: flex;
		align-items: center;

		.banner_indicator {
			@extend .badge,
			.badge-danger,
			.mb-3;
		}

		.view_button {
			@extend .btn,
			.btn-primary,
			.px-3;
		}
	}

	.image_content {
		max-width: 50%;
	}
}

// Single Product Item

.single_product_item {
	color: $gray-700;

	.img_container {
		position: relative;

		.product_image {
			max-width: 100%;
		}

		.product_badge {
			@extend .badge;
			position: absolute;
			top: 10px;
			left: 10px;
		}

		.wishlist_btn {
			position: absolute;
			top: 10px;
			right: 10px;
			@extend .btn;
			background-color: $gray-100;
			border-radius: 100%;
			width: 44px;
			height: 44px;
		}
	}

	.info_container {
		@extend .p-3;
		display: flex;
		flex-direction: column;
		color: $gray-700;

		.price {
			@extend .mt-2;
			@extend .mb-0;
			@extend .text-primary;

			span {
				color: $gray-700;
				text-decoration: line-through;
			}
		}
	}
}

// Section Heading

.section_heading {
	width: 100%;
	display: flex;
	justify-content: space-between;
	@extend .pb-3;
	@extend .mb-3;
	border-bottom: 1px solid $gray-500;
	color: $gray-700;

	h3 {
		@extend .mb-0;
	}

	button {
		@extend .btn,
		.btn-outline-primary;
		border-radius: $app_border_radius;

		svg {
			@extend .ml-2;
		}
	}
}

// Landing Top Banner

.bannner_top_slider {
	padding: 70px 0px;
	background-color: $light-blue;

	.slick-arrow.slick-next,
	.slick-arrow.slick-prev {
		display: none !important;
	}

	.slick-dots {
		bottom: -45px;

		.slick-active {
			button {
				&::before {
					@extend .text-danger;
				}
			}
		}

		button {
			&:hover {
				&::before {
					@extend .text-danger;
				}
			}
		}

		li {
			@extend .mx-0;
		}
	}

	.inner_slick_container {
		display: flex !important;
		flex-direction: row;

		.info_container {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;

			.inner_info {
				color: $gray-700;

				button {
					svg {
						@extend .ml-2;
					}
				}
			}
		}
	}
}

// Header

.top_header {
	@extend .py-4;
	color: $gray-700;

	.container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		div {
			display: inline-block;
		}

		.log_holder {
			display: flex;
			justify-content: center;

			img {
				max-width: 100px;
			}
		}

		.search_holder {
			position: relative;
			flex-grow: 1;
			@extend .mx-4;

			.input_dropdown_holder {
				display: flex;

				svg {
					position: absolute;
					top: 12px;
					left: 12px;
				}

				input {
					border-radius: $app_border_radius;
					border: 1px solid $gray-500;
					@extend .p-2;
					padding-left: 35px !important;
					border-top-right-radius: 0px !important;
					border-bottom-right-radius: 0px !important;
					width: 100%;
				}

				select {
					border-radius: $app_border_radius;
					border: 1px solid $gray-500;
					@extend .p-2;
					border-top-left-radius: 0px !important;
					border-bottom-left-radius: 0px !important;
					min-height: 42px;
					min-width: 140px;
				}
			}
		}

		.auth_holder {
			display: flex;

			.user_account_guest {
				display: flex;
				color: $gray-700;
				justify-content: center;
				align-items: center;
				@extend .mr-3;

				p {
					color: $gray-700;
					font-size: 12px;
					@extend .mb-0;
					@extend .ml-2;
				}

				svg {
					color: $gray-700;
				}
			}

			.user_account_authenticated {
				display: flex;
				flex-direction: column;
				@extend .mr-3;

				p {
					color: $gray-700;
					font-size: 10px;
					@extend .mb-0;
				}
			}

			.cart_indicator {
				background-color: $gray-100;
				border-radius: 100%;
				width: 44px;
				height: 44px;
				border: none;
				color: $gray-700;
				position: relative;

				span {
					position: absolute;
					top: -3px;
					right: -3px;
					font-size: 10px;
					background-color: $danger;
					color: $white;
					border-radius: 100%;
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}
